/* CSS comments are just like multi-line JavaScript ones.*/
body{
    font-family: Helvetica;
    font-size: larger;
    color: darkgreen;
}
ul{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}